<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="~{header}"></header>
<h1>トップページ</h1>
	
<a href="/recipes/add">
	<button>レシピ投稿</button>
</a>



<form action="/recipes" method="get">
	<input type="search" name="name" placeholder="検索" th:value="${name}">
	<button>検索</button>
</form>

<div>
	<a href="/recipes">全て</a>
	<span th:each="category:${categories}">
		<a th:href="@{/recipes(categoryId=${category.id})}"
		   th:text="${category.name}">
		</a>
	</span>
</div>

<h2>レシピ一覧</h2>

<!--<div th:each="recipe:${recipes}">-->
<!--	<a th:href="@{/recipes/detail(id=${recipe.id})}">-->
<!--		<h3 th:text="${recipe.name}">レシピ名</h3>-->
<!--	</a>-->

<!--	<p>-->
<!--		投稿者：<span th:text="${recipe.user.name}">投稿者</span>-->
<!--	</p>-->

<!--		<p>-->
<!--			投稿者：-->
<!--			<span th:if="${recipe.user != null}" th:text="${recipe.user.name}">投稿者名</span>-->
<!--			<span th:if="${recipe.user == null}">不明</span>-->
<!--		</p>-->

<!--		<a th:href="@{/recipes/{id}/edit(id=${recipe.id})}">-->
<!--			<button>編集</button>-->
<!--		</a>-->
		

<!--		<form th:action="@{/recipes/{id}/delete(id=${recipe.id})}" method="post">-->
<!--			<button>削除</button>-->
<!--		</form>-->
		
<!--</div>-->
<div th:each="recipe:${recipes}" class="recipe-card">
	<a th:href="@{/recipes/detail(id=${recipe.id})}">
		<h3 th:text="${recipe.name}">レシピ名</h3>
	</a>

	<p>
		投稿者：
		<span th:if="${recipe.user != null}" th:text="${recipe.user.name}">投稿者名</span>
		<span th:if="${recipe.user == null}">不明</span>
	</p>

	<div class="recipe-buttons">
		<a th:href="@{/recipes/{id}/edit(id=${recipe.id})}">
			<button type="button">編集</button>
		</a>

		<form th:action="@{/recipes/{id}/delete(id=${recipe.id})}" method="post">
			<button type="submit">削除</button>
		</form>
	</div>
</div>
<hr>
	<footer th:replace="~{footer}"></footer>

</body>
</html>