<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ作成画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="recipe-form-page">
	<header th:replace="~{header}"></header>
	<h2 class="form-title">レシピ作成画面</h2>

	<form class="recipe-form" action="/recipes/add" method="post">

		<div>
			<label>料理のタイトル</label>
			<input type="text" name="name" placeholder="レシピ名を入力してください">
		</div>
<br>

	<div>
		<label>カテゴリ</label><br>

		<select name="categoryId" required>
			<option value="">カテゴリを選択してください</option>
			<option th:each="category : ${categories}"
					th:value="${category.id}"
					th:text="${category.name}">
			</option>
		</select>
	</div>
		
<br>
         <div>
			<label>料理の説明・作り方</label><br>
			<textarea name="recipe" placeholder="レシピを入力してください"></textarea>
		</div>
<br>
		<div>
			<button>投稿</button>
		</div>
	</form>

	<a class="back-link" href="/recipes">一覧に戻る</a>
	
	<footer th:replace="~{footer}"></footer>
</body>
</html>